<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); %>
    </head>
    <body>
        <%- include("../partials/nav-bar"); %>
        <%- include("../partials/banner"); %>
        <div class="container py-5 d-flex align-items-start">
            
        </div>
        <%- include("../partials/footer"); %>
    </body>
    <%- include("../partials/scripts"); %>
</html>