<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); %>
    </head>
    <body>
        <%- include("../partials/nav-bar"); %>
        <%- include("../partials/banner"); %>
        <div class="container py-5 d-flex align-items-start">
            <%- include("../partials/nav-bar-side"); %>
            <div data-bs-spy="scroll" data-bs-target="#navbar-side" data-bs-offset="0" tabindex="0">
                <div class="row py-4 my-4">
                    <div class="col" id="item-1">
                        <h2 class="code-color">Images "Puffles" Displayer</h2>
                        <p>This project was intended to demonstrate the creation of an "Image Displayer" with a custom theme. I choose a social videogame called "Club Penguin" that I used to play, in this case the little creatures called "Puffles" change whether some time have passed or a button is pressed. There is also a restart button to show the first image of the list.</p>
                    </div>
                    <div class="col img-container">
                        <img class="rounded img-fluid" src="/images/image-displayer.png" alt="Project of an Interactive Calculator">
                    </div>             
                </div>  
                <div class="row py-4 my-4">
                    <div class="col img-container-horizontal r-4"><img class="rounded img-fluid-horizontal" src="/images/gem-game.png" alt="Gem Game Screenshot"></div>
                    <div class="col">
                        <h2 id="item-2" class="code-color">Gem Catcher</h2>
                        <p>My first JS web videogame I have created, the main objective is to click on a diamond that is going to change it's position every a few seconds, the more gems you collect, the gem will move faster. There is also two reset buttons to change the score and the speed of the gem. The main purpose of the game is to improve your reaction skills.</p>
                        <a href="https://selenemgr.github.io/gem-catcher/" class="nav-link icon-default-move text-center py-2">¡Try It!<i class="fa fa-arrow-circle-left"></i></a>
                    </div>  
                </div>
                <div class="row py-4 my-4">
                    <div class="col">
                        <h2 id="item-3" class="code-color">Interactive Calculator</h2>
                        <p>In this page you can assign how many columns and rows you want to multiply and display in a table. The table will display all the values multiplied from the first row and first column to the last row and last column. This table helps to find numbers with similiar multiplayers or dividers.</p>
                    </div>
                    <div class="col img-container">
                        <img class="rounded img-fluid" src="/images/interactive-calculator.png" alt="Gem Game Screenshot">
                    </div>
                </div>
                <div class="row py-4 my-5">
                    <div class="col-auto img-container">
                        <img class="rounded img-fluid" src="/images/player-system.png" alt="Gem Game Screenshot">
                    </div>
                    <div class="col-6 px-5">
                        <h2 id="item-4" class="code-color">Player Management System</h2>
                        <p>This program is an interactive Player ManagementSystem where the user can create custom or default players to add them in a list that holds all the players created.Also, the user can modify and check the values of the selected players, as well to delete undesired players. The list have a limit of 50 players and is quite sensitive at the time of creating custom players, since all the values are not stricly necessary to create a player, the user can input the values of choice.</p>
                    </div>
                </div>
            </div>
        </div>
        <%- include("../partials/footer"); %>
    </body>
    <%- include("../partials/scripts"); %>
</html>