<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); %>
    </head>
    <body>
        <%- include("../partials/nav-bar"); %>
        <%- include("../partials/banner"); %>
        <div class="container py-5 d-flex align-items-start">
            <%- include("../partials/nav-bar-side"); %>
            <div data-bs-spy="scroll" data-bs-target="#navbar-side" data-bs-offset="0" tabindex="0">
                <div class="row py-4 mb-5">
                    <div class="col-6 px-5" id="item-1">
                        <h2 class="code-color">Illustrations</h2>
                        <p>I can create custom illustrations, whether it is a logo, character, background, font, etc. However, my speciality is minimalistic styles, as well with using pastel colors. I use Medibang as my drawing software and exports all the drawings at 1080p resolution quality.</p>
                    </div>
                    <div class="col-auto img-container">
                        <img class="rounded img-fluid" src="/images/drawing.png" alt="Picture of a Pink Controller with a title that says Gaming">
                    </div>             
                </div>  
                <div class="row py-4 my-5">
                    <div class="col-auto img-container-horizontal r-4"><img class="rounded img-fluid-horizontal" src="/images/web.png" alt="Picture of Black High Heels, a pair of Sun Glasses and a Phone"></div>
                    <div class="col-6 px-5">
                        <h2 id="item-2" class="code-color">Web Design</h2>
                        <p>With my current web design skills I can create web pages for personal use, such as portafolios, contact information pages and utility webpages, such as images displayers, document readers, sales calculator, post delivery information, etc. Since I have a backgroun on illustration, I will always try to look for the best match of colors and position of the objects to be as pretty as possible.</p>
                    </div>  
                </div>
                <div class="row py-4 my-5">
                    <div class="col-6 px-5">
                        <h2 id="item-3" class="code-color">App Development</h2>
                        <p>My main programming language is C# and Java, that means I can create app that are Object-Oriented, such as ATM Bank Accounts, POS for Restautants, etc. This programs are mostly efficient for environments that require to input and display data correctly, as well to share the output to other apps that require the output to work correctly.</p>
                    </div>
                    <div class="col-auto img-container-horizontal">
                        <img class="rounded img-fluid-horizontal" src="/images/java.jpg" alt="Picture of some make up products on a table">
                    </div>
                </div>
                <div class="row py-4 my-5">
                    <div class="col-auto img-container-horizontal">
                        <img class="rounded img-fluid-horizontal" src="/images/video-edit.jpg" alt="Gem Game Screenshot">
                    </div>
                    <div class="col-6 px-5">
                        <h2 id="item-4" class="code-color">Video/Audio Edition</h2>
                        <p>For Video and Audio Edition I use Filmora as primary software for video editing, I use it to add transitions, effects, pop texts, etc. For audio editing I use Voice Meteer, I can equalify voices, adjust audio levels, add audio effects and configure options to optimize the audio quality for microphones.</p>
                    </div>
                </div>
            </div>
        </div>
        <%- include("../partials/footer"); %>
    </body>
    <%- include("../partials/scripts"); %>
</html>